@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}
#home-section{
        background:url(./assets/backgrounds/h_img.jpg) center center;
        background-size: cover;
        color: white;
    }
    .banner{
        background-image:url(../assets/backgrounds/s_image.jpg);
        background-size: cover;
        height: 40vh;
        background-repeat:no-repeat ;
        background-size: cover;
        position: relative;
        text-align: center;
    }
