@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    width:100%;
    margin: auto;
    }

    .display1{
        background-image:url(../assets/backgrounds/h_img.jpg);
        background-size: cover;
        height: 120vh;
        background-repeat:no-repeat ;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    .sandwitched{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
    .logo img{
        padding: 20px;
     }
     .mouse img{
         margin-top: 30%;
     }
      #designdetails {
display: none;
      }
      #developmentdetails{
display: none;
      }
      #productdetails{
display: none;
      }