@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    width:100%;
    margin: auto;
    }

    .display1{
        background-image:url("../assets/assets/backgrounds/h_img.jpg");
        background-size: cover;
        height: 120vh;
        background-repeat:no-repeat ;
        background-size: cover;
        position: relative;
        text-align: center;
        color:white;
      
    }
    .sandwitched{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
    .logo img{
        padding: 20px;
     }
     .mouse img{
         margin-top: 30%;
         transform:translateY(-10px);
     }

     /*ABOUT US */
.paragraph{
  font-size: 1opx;
}
/*sevices*/
.paragraph{
font-size: 11px;
}

     .display2{
        background-image:url("../assets/assets/backgrounds/s_image.jpg");
        background-size: cover;
        height: 40vh;
        background-repeat:no-repeat ;
        background-size: cover;
        position: relative;
        text-align: center;
        color: white;
    }
    .sandwitched2 {
        
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #designdetails {
display: none;
      }
      #developmentdetails{
display: none;
      }
      #productdetails{
display: none;
      }
      #projectpic {
        position: relative;
      }
      #designdetails >p {
font-size: 10px;
      }
      #developmentdetails >p{
        font-size: 10px;
      }

      #productdetails>p{
        font-size: 10px;
      }

      .lap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20pt;
        font-weight: bold;
        border: 3px solid white;
        width: 150px;
        height: 120px;
        opacity: 0.5;
        background: rgb(12, 11, 10);
        text-align: left;
      }
      .text{
          display:none;
      }
      .display3{
        background-image:url("../assets/assets/backgrounds/c_image.jpg");
        background-size: cover;
        height: 70vh;
        background-repeat:no-repeat ;
        background-size: cover;
        position: relative;
        text-align: center;
      }
      .inputs{
          margin-left: 20%;
      }

    .form-control::-webkit-input-placeholder {
  color: white;
    }
    
    /* name input box */
    #namebar{
      background: transparent;
      color: white;
      border: solid 1px #fff;
      width: 295px;
    }
      #button {
        text-align: left;
        margin-left: 45%;
      }
      #emailbar{
        background: transparent;
        color: white;
        border: solid 1px #fff; 
        width: 295px;
      }  
      #messagebar{
      background:transparent;
      }  

      .social-icons a:hover img{
        transform: translateY(-10px);
      }